body{
    font-family: 'Poppins', sans-serif;
    background-color: #2E2E35;
}
.dropdown-item{
    color: white;
}        
.nav-link{
    color: white;
}
#middlemenu{
    font-family: 'Poppins', sans-serif;
    background-color: #34343B;
    padding-top:7em;
    align-items: center;
    margin-top: -1em;
}
.secondcard {
    color: #DA982C;
   
}
.para{
color:#DADADA;
}
.services{
    background-color: #2E2E35;

}
#horizontal{
    border-radius: 2em;
}
.articles{
    color: #E4AA48;
}
.articles1{
    background-color: #2E2E34;
}
#news .card-img-top{
    height: 276px;
    object-fit: cover;
    object-position: top;
}

.contact{
    background-color: #36363E;
    padding: 15px;
    margin: 15px;
    
}
.contactus{
    color: #E4AA48;
    
}
.btn-conatct{
    background-color: transparent !important;
    color: #E4AA48;
    border-color: #E4AA48;
    border-radius:1px;
 }

    .joinBtn {
        background-color: transparent;
        width: 10em;
        height: 5ex;
        border: 2px solid #E4AA48;
        border-radius: 3px;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }
    
    .joinBtn:hover {
        background-color: #E4AA48;
    }
   
    .card-img-top{
        border-radius: 0;
    }

    #collection p:hover{
        color: #E4AA48 !important;
    }

    #latest .card-title:hover{
        color: #E4AA48 !important;
    }

    #servcard .text-center:hover{
        color: #E4AA48 !important;
    }
    .cardmanage{
        margin-left: 13rem;
    }
    .cardmanage1{
        margin-left: -8rem;
    }
    .cardmanage2{
        margin-left: -8rem;
    }
    .cardmanage3{
        margin-left: 22rem;
    }
    .cardmanage4{
        margin-left: -1rem;
    }
   
